.Container {
    margin: 2rem 25rem;
}

h2 {
    color: #000;
    font-size: 2.5rem;
}

.Container p {
    color: #3d3d3d;
    font-size: 1.25rem;
    line-height: 30px;
    text-align: justify;
}

a {
    color: tomato;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
    .Container {
        margin: 2rem 15rem;
    }
    .Container p {
        font-size: 1.15rem;
        line-height: 26px;
        text-align: justify;
    }
}

@media only screen and (max-width: 700px) {
    .Container {
        margin: 2rem 2rem;
    }
    .Container p {
        font-size: 1.08rem;
        line-height: 26px;
        text-align: justify;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .Container {
        margin: 2rem 8rem;
    }
    .Container p {
        font-size: 1.10rem;
        line-height: 26px;
        text-align: justify;
    }
}