.Card-box {
  border-radius: 4px;
  width: 30.65vw;
  height: 28vh;
  margin-bottom: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1em 1.5em;
  box-sizing: border-box;
}

.Card-box-daymode {
  background-color: #f7f7f7;
}

.Card-box-nightmode {
  background-color: #1d1d1d;
}

.Card-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Card-inside-box {
  display: flex;
  flex-direction: column;
}

.Card-title {
  font-size: 0.95em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  float: left;
}

.Card-title-daymode {
  color: #000;
}

.Card-title-nightmode {
  color: wheat;
}

.Card-settings {
  font-size: 0.8em;
  float: right;
  cursor: pointer;
  display: flex;
}

.Card-settings-nightmode {
  color: wheat;
}

.Card-settings-daymode {
  color: tomato;
}

.Card-settings-more {
  padding-right: 0.8em;
  padding-top: 0em;
  font-size: 1.3em;
}

.Card-settings-cog {
  padding-top: 2px;
  font-size: 1.1em;
}
.Card-settings-cog:hover {
  color: tomato;
}

.Card-settings-maximize {
  padding-top: 2px;
  font-size: 1.1em;
  padding-right: 1em;
}

.Card-settings-maximize:hover {
  color: tomato;
}

.Card-story-box {
  padding: 0.3em 0em;
}

.Card-dropdown-lable-nightmode {
  padding-bottom: 0.5em;
  color: wheat;
}

.Card-dropdown-lable-daymode {
  padding-bottom: 0.5em;
  color: #404040;
}

.Card-story {
  /* line-height: 2em; */
  /* font-size: 0.9em; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.Card-story-nightmode:hover {
  color: tomato;
}

.Card-story-daymode:hover {
  color: tomato;
}

.Card-story-daymode {
  color: #404040;
}

.Card-story-nightmode {
  color: white;
}

.Card-dropdown-box {
  padding: 0.2em 1em;
  float: left;
}

.Card-dropdown-save {
  padding: 1em;
  float: right;
}

.Card-dropdown-save-button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  background-color: tomato;
  color: #ffffff;
  border-radius: 2px;
  float: right;
  padding: 0.35em 1em;
  cursor: pointer;
}

.Card-dropdown-save-button:hover {
  background-color: rgb(232, 114, 94);
}

.Card-dropdown {
  max-height: 50px !important;
}

.Dropdown-menu {
  max-height: 130px !important;
}

.More-button {
  display: inline;
  background-color: tomato;
  font-size: 0.65em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #ffffff;
  border-radius: 2px;
  padding: 0.25em 1em;
  cursor: pointer;
  margin-left: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Close-button {
  color: tomato;
  font-size: 1.15em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.Popup-box {
  position: absolute;
  width: 45vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 8vh;
  box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
  margin-right: 1em;
  margin-top: 5px;
  padding: 0.8em 1em;
  border-radius: 5px;
}

.Popup-box-daymode {
  background: #f7f7f7;
}

.Popup-box-nightmode {
  background: #2e2e2e;
}

.Popup-header {
  padding-left: 1em;
  display: flex;
  justify-content: space-between;
}

.Popup-story {
  line-height: 28px;
  font-size: 0.9em;
  font-weight: 400 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  padding: 0em 1.2em;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.Popup-story-daymode {
  color: #404040;
}

.Popup-story-nightmode {
  color: #fff;
}

.Popup-story:hover {
  cursor: pointer;
  color: tomato;
}

.Background-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

/* Media Queries */
@media only screen and (max-width: 500px) {
  .Card-box {
    width: 90vw;
    height: auto;
    margin: 2% 0%;
    padding: 10px 15px;
    box-sizing: border-box;
  }
  .Popup-box {
    width: 70vw;
  }
}

@media only screen and (min-width: 550px) and (max-width: 900px) {
  .Card-box {
    width: 94vw;
    height: auto;
    margin: 2% 0%;
    padding: 1.5em 1.5em;
    box-sizing: border-box;
  }
}

@media only screen and (min-height: 450px) and (max-height: 650px) {
  .Card-story {
    line-height: 22px;
    font-size: 0.85em;
  }
  .Popup-story {
    line-height: 22px;
    font-size: 0.95em;
  }
  .Card-title {
    font-size: 0.9em;
  }
}

@media only screen and (min-height: 650px) and (max-height: 750px) {
  .Card-story {
    line-height: 26px;
    font-size: 0.9em;
  }
  .Popup-story {
    line-height: 22px;
    font-size: 0.8em;
  }
  .Card-title {
    font-size: 1em;
  }
}

@media only screen and (min-height: 750px) and (max-height: 875px) {
  .Card-story {
    line-height: 30px;
    font-size: 0.9em;
  }
  .Popup-story {
    line-height: 28px;
    font-size: 0.85em;
  }
  .Card-title {
    font-size: 1.1em;
  }
}

@media only screen and (min-height: 875px) and (max-height: 950px) {
  .Card-story {
    line-height: 35px;
    font-size: 1.1em;
  }
  .Popup-story {
    line-height: 30px;
    font-size: 0.9em;
  }
  .Card-title {
    font-size: 1.3em;
  }
}

@media only screen and (min-height: 950px) and (max-height: 1050px) {
  .Card-story {
    line-height: 40px;
    font-size: 1em;
  }
  .Popup-story {
    line-height: 35px;
    font-size: 0.8em;
  }
  .Card-title {
    font-size: 1.1em;
  }
}

@media only screen and (min-height: 1050px) {
  .Card-story {
    line-height: 45px;
    font-size: 1.03em;
  }
  .Popup-story {
    line-height: 35px;
    font-size: 0.85em;
  }
  .Card-title {
    font-size: 1.3em;
  }
  .Card-box {
    padding: 2em 1.5em;
  }
}

/* @media only screen and (min-width: 1000px) {
    .Card-box:not(:nth-child(3n)) {
        margin-right: 1vw;
    }
} */

@media only screen and (max-width: 900px) {
  .Card-settings-maximize {
    display: none;
  }
}
