.Header {
    padding: 0em 1em;
    margin: 0em 0.5em;
    display: flex;
}

.Header-content {
    margin: 0px auto;
}

.Header-logo {
    color: rgb(17, 133, 179);
    font-size: 1.2em;
    float: right;
}

.Header-settings {
    float: right;
    font-size: 1.2em;
}