@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body > #root > div {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 100% !important;
}

/* .App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #09d3ac;
} */
